table,
tr,
td,
th{
    border: 1px solid black;
    /* border-radius: 16px;  --- ez szépen lekerekít mindent, olyan cukii *-* */
}

table{
    /* előtte volt külön keret hozzá, de utána már kitöltötte 
    Az az alap beállítás volt, vagyis ---- border-collapse: separate*/
    border-collapse: collapse;
    /* teljesen széles lesz az egész oldalon */
    width: 100%; 
    max-width: 900px;
    margin: auto;
    margin-top: 32px;
}

td, th{
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}

tr{
    background-color: gainsboro;
}

tr:nth-child(2){
    background-color: red;
}

th{
    background-color: antiquewhite;
}

/* páros számok*/
tr:nth-child(even){
    background-color: aqua;
}

/* páratlan számok*/
tr:nth-child(odd){
    background-color: cornflowerblue;
}

caption{
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
